{% load i18n %}
<h3 class="h4 mt-4 text-center">{% translate "Or connect with" %}</h3>
<div class="row text-center">
        <div class="col p-1">
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-outline-primary" title="Facebook">
            <i class="fa-brands fa-facebook me-1"></i>Facebook</a>
        </div>
        <div class="col p-1">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-danger" title="Google">
                <i class="fa-brands fa-google me-1"></i>Google</a>
        </div>
        <div class="col p-1">
            <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-dark" title="GitHub">
                <i class="fa-brands fa-github me-1"></i>GitHub</a>
        </div>
</div>