{% load i18n %}
<h3 class="h4 mt-4 text-center">{% translate "Or connect with" %}</h3>
<div class="row text-center">
        <div class="col">
            <a href="{% url 'social:begin' 'facebook' %}" class="link-primary fs-2" title="Facebook">
            <i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="col">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="link-danger fs-2" title="Google">
                <i class="fa-brands fa-google"></i></a>
        </div>
        <div class="col">
            <a href="{% url 'social:begin' 'github' %}" class="link-dark fs-2" title="GitHub">
                <i class="fa-brands fa-github"></i></a>
        </div>
</div>