{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    <title>{% translate "Login" %} - UAHub.online</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- login -->
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>{% translate "Login" %}</h1>
                        {% if request.user.is_authenticated %}
                            <p class="mt-5">{% translate "You are already logged in" %}</p>
                        {% else %}
                            <p class="text-muted">{% translate "Log in to your account" %}</p>
                            <form method="POST">
                            <div class="mb-3">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Log in" %}</button>
                                </div>
                                <div class="flex-fill text-end">
                                    <a href="{% url "password_reset" %}" type="button" class="btn btn-link px-0">
                                        {% translate "Forgot password?" %}
                                    </a>
                                </div>
                            </div>
                            <!-- social buttons -->
                                {% include "accounts/inc/_social.html" %}
                            <!-- social buttons end -->
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none">
                    <div class="card-body text-center">
                        <div>
                            <h2>{% translate "Sign up" %}</h2>
                            <p>{% translate "Creating an account is not required, but you'll have an access to all your markers." %}</p>
                            <a href="{% url "register" %}" type="submit" class="btn btn-light mt-3">{% translate "Sign up" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login END -->
{% endblock %}