{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    <title>{% translate "Вход" %}</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- login -->
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>{% translate "Вход" %}</h1>
                        <p class="text-muted">{% translate "Войдите в ваш аккаунт" %}</p>
                            <form method="POST">
                            <div class="input-group mb-3">
                                {% csrf_token %}
                                {{ form.as_div }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Войти" %}</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none">
                    <div class="card-body text-center">
                        <div>
                            <h2>{% translate "Регистрация" %}</h2>
                            <p>Регистрация необязательна, но зарегистрированные пользователи имеют доступ ко всем своим меткам.</p>
                            <a href="{% url "register" %}" type="submit" class="btn btn-light mt-3">{% translate "Зарегистрироваться" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login END -->
{% endblock %}

    {% if request.user.is_authenticated %}
        <p>You may change your password by this <a >link</a></p>
    {% endif %}

    {% if not request.user.is_authenticated %}
    {% endif %}


