{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% load imagekit %}
{% block title %}
    <title>{% translate "My profile" %} - UAHub.online</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150" height="150" alt="image" src="{{ request.user.avatar_xl.url }}">
                    <span class="font-weight-bold">{{ request.user.first_name }}</span>
                    <span class="font-weight-bold mt-3">{% translate "Sign up date" %}:</span>
                    <span class="text-black-50">{{ request.user.date_joined|to_user_tz_short }}</span>
                    <a href="{% url "password_change" %}">{% translate "Change password" %}</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{% translate "My profile" %}</h4>
                    </div>
                    <form method="POST" id="user_update_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mt-3">
                            {{ form.as_div }}
                        </div>
                        <div class="mt-4 text-center">
                            <button class="btn btn-primary profile-button" type="submit">
                                {% translate "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
