{% extends 'base.html' %}
{% load i18n custom_filters imagekit %}

{% block title %}
    <title>{% translate "User" %}: {{ user.get_full_name }} - UAHub.space</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" alt="user" width="150" height="150" src="{{ user.avatar_xl.url }}">
                    <span class="font-weight-bold">{{ user.get_full_name }}</span>
                    <span class="font-weight-bold mt-3">{% translate "Sign up date" %}:</span>
                    <span class="text-black-50">{{ user.date_joined|to_user_tz_short }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{% translate "User profile" %}</h4>
                    </div>
                    <div class="row mt-3">
                        <p>
                            <strong>{% translate "Hometown" %}: </strong>
                            {% translate "No data" as transl_no_data %}
                            {{ user.hometown.title|default:transl_no_data }}
                        </p>
                        {% if user.facebook_link %}
                            <p>
                                <a href="{{ user.facebook_link }}" rel="nofollow">{% translate "Facebook profile link" %}</a>
                            </p>
                        {% endif %}
                        <p>
                            <strong>{% translate "Contacts" %}: </strong>
                            {{ user.contacts|default:transl_no_data }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
