{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    <title>{% translate "Sign up" %} - UAHub.online</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-9">
            <div class="card-group mb-0">
                <div class="card p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h1>{% translate "Sign up" %}</h1>
                        <p class="text-muted">{% translate "Create your account" %}</p>
                        <form method="POST">
                            <div class="row g-3 mb-3">
                                {% csrf_token %}
                                {% for field in form.visible_fields|slice:":3" %}
                                    <div class="col-12">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <div class="col-12">
                                    {{ form.captcha }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Sign up" %}</button>
                                </div>
                            </div>
                            <!-- social buttons -->
                                {% include "accounts/inc/_social.html" %}
                            <!-- social buttons end -->
                        </form>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none">
                    <div class="card-body text-center">
                        <div>
                            <h2>{% translate "Login" %}</h2>
                            <p>{% translate "Already have an account?" %}</p>
                            <a href="{% url "login" %}" type="button" class="btn btn-light mt-3">{% translate "Log in" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


