{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    <title>{% translate "Sign up" %}</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-9">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>{% translate "Sign up" %}</h1>
                        <p class="text-muted">{% translate "Create your account" %}</p>
                        <form method="POST">
                            <div class="row g-3 mb-3">
                                {% csrf_token %}
                                {% for field in form.visible_fields|slice:":2" %}
                                    <div class="col-md-6">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                {% for field in form.visible_fields|slice:"2:5" %}
                                    <div class="col-12">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                {{ form.captcha }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Sign up" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none">
                    <div class="card-body text-center">
                        <div>
                            <h2>{% translate "Sign in" %}</h2>
                            <p>{% translate "Already have an account?" %}</p>
                            <a href="{% url "login" %}" type="button" class="btn btn-light mt-3">{% translate "Sign in" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


