{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    <title>{% translate "Password reset complete" %} - UAHub.online</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-7">
                <div class="card p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h1 class="h3">{% translate "Password reset complete" %}</h1>
                        <br>
                        <p>{% translate "Your new password has been set. You may go ahead and" %}
                            <a href="{% url 'login' %}">{% translate "Log in" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}