{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    <title>{% translate "Change password" %} - UAHub.online</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Change password -->
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-5">
                <div class="card p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h1 class="h2">{% translate "Change password" %}</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.old_password.label_tag }}
                                <input type="password" name="old_password" class="form-control" required=""
                                       id="old_password">
                            </div>
                            <div class="mb-3">
                                {{ form.new_password1.label_tag }}
                                <input type="password" name="new_password1" class="form-control" required=""
                                       id="new_password1">
                            </div>
                            <div class="mb-3">
                                {{ form.new_password2.label_tag }}
                                <input type="password" name="new_password2" class="form-control" required=""
                                       id="new_password2">
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Save" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Change password END -->
{% endblock %}