{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    <title>{% translate "Password reset" %} - UAHub.online</title>

    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock title%}

{% block content %}
    <!-- Reset password -->
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-5">
                {% if validlink %}
                <div class="card p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h1 class="h3">{% translate "Reset your password" %}</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.new_password1.label_tag }}
                                <input type="password" name="new_password1" class="form-control" required=""
                                       autocomplete="new-password" id="new_password1">
                            </div>
                            <div class="mb-3">
                                {{ form.new_password2.label_tag }}
                                <input type="password" name="new_password2" class="form-control" required=""
                                       autocomplete="new-password" id="new_password2">
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <button type="submit" class="btn btn-primary px-4">{% translate "Reset password" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-warning">
                {% blocktranslate %}
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                {% endblocktranslate %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Reset password END -->
{% endblock %}