{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    <title>{% translate "About" %} - UAHub.online</title>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1 class="h2">{% translate "About project" %}</h1>
        <p>
            {% blocktranslate %}
                Dear users! This project is made for Ukrainian refuges and for everyone else may find it helpfully as well.
                The aim of this project is to help you to connect with other refuges in any country in a world,
                find help and offer your help, find accommodation, services, job, etc.
            {% endblocktranslate %}
        </p>
        <h3 class="h4">{% translate "How does this work" %}</h3>
        <p>
            {% blocktranslate %}
                All you need to do - is to add a mark on a map with exact coordinates, choose mark category and type
                a comment (if you like). If you want anybody to contact you, then leave you contacts in comment field.
                If you want to edit or delete your marks, you need to sign up then.
            {% endblocktranslate %}
        </p>
        <h3 class="h4">{% translate "Your account" %}</h3>
        <p>
            {% blocktranslate %}
                After registering you can update you account details with your image, first and last name,
                facebook profile link and any other contacts.
            {% endblocktranslate %}
        </p>
        <h3 class="h4">{% translate "Feature request" %}</h3>
        <p>
            {% blocktranslate %}
                If you need to add a new category or request a new feature, please refer to Contact us page.
            {% endblocktranslate %}
        </p>
    </div>
{% endblock %}