{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    <title>{% translate "Edit mark #" %}{{ marker_id }} - UAHub.space</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{% translate "Edit mark #" %}{{ marker_id }}</h4>
                    </div>
                    <form method="POST" id="marker_update_form" name="marker_update_form">
                        {% csrf_token %}
                        {% for field in form.visible_fields|slice:":4" %}
                            <div class="col-12">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {%  endfor %}
                        <div class="col-12">
                            {{ form.valid_till.label_tag }}
                            <div class="input-group">
                                {{ form.valid_till }}
                            </div>
                        </div>
                        <div class="mt-4 text-center">
                            <button class="btn btn-primary profile-button" type="submit">
                                {% translate "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}