{% extends 'base.html' %}
{% load i18n %}

{% block meta %}
    <meta name="description" lang="en" content="Project for Ukrainian refugees. The goal is to help you connect with other refugees in any country in the world, find help, housing, services, work...">
    <meta name="description" lang="ru" content="Проект для украинских беженцев. Цель - помочь вам установить связь с другими беженцами в любой стране мира, найти помощь, жилье, услуги, работу...">
    <meta name="description" lang="ua" content="Проект для українських біженців. Мета - допомогти вам встановити зв'язок з іншими біженцями у будь-якій країні світу, знайти допомогу, житло, послуги, роботу...">
{% endblock %}

{% block content %}
    <!-- Modal window add marker -->
    <div class="modal fade" id="addMarker" tabindex="-1" aria-labelledby="addMarkerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMarkerLabel">{% translate "Add mark" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label={% translate "Close" %}></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" method="post" action="{% url 'home' %}" enctype="multipart/form-data" id="addMarkerForm"
                          name="addMarkerForm">
                        {% csrf_token %}
                        {% for field in form.visible_fields|slice:":2" %}
                            <div class="col-md-6">
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for field in form.visible_fields|slice:"2:4" %}
                            <div class="col-12">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                        </div>
                        <div class="col-12">
                            {{ form.captcha }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">{% translate "Close" %}</button>
                            <button type="submit" class="btn btn-primary">{% translate "Add" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal window add marker END -->
    <!-- Floating button add marker -->
    <a class="btn btn-danger btn-lg rounded-circle" data-bs-toggle="modal" data-bs-target="#addMarker"
       style="font-size: larger; height: 52px; width: 52px; position: fixed; right: 1.5rem; bottom: 1.5rem; z-index: 1000; line-height: 34px;"
       role="button" title="{% translate "Add mark" %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <!-- Floating button add marker END -->
    <!-- Map -->
        {{ current_map | safe }}
    <!-- Map END-->
{% endblock %}