{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_filters %}
{% load imagekit %}
{% load static %}
{% block title %}
    <title>{% translate "Mark" %}# {{ marker.pk }} - UAHub.online</title>

    <link href="{% static "css/markers.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="mx-auto my-5 col-md-6">
            <div class="card testimonial-card mt-2 mb-3">
                <div class="card-up aqua-gradient">
                    {% if marker.image %}
                        <a href="{{ marker.image.url }}" data-toggle="lightbox">
                            <img src="{{ marker.image_preview_bg.url }}" alt="">
                        </a>
                    {% endif %}
                </div>
                <div class="avatar mx-auto white">
                    {% if marker.owner %}
                    <a href="{% url "public-profile" marker.owner.pk %}">
                        <img src="{{ marker.owner.avatar_l.url }}" width="110" height="110" class="rounded-circle img-fluid" alt="image">
                    </a>
                    {% else %}
                        <img src="{{ MEDIA_URL }}avatar/default_avatar.jpg" width="110" height="110" class="rounded-circle img-fluid" alt="image">
                    {% endif %}
                </div>
                <div class="card-body text-center position-relative">
                    <!-- likes -->
                    <div class="position-absolute" style="right: 16px; top: -50px;">
                        {% csrf_token %}
                        <span id="like_count_{{ marker.pk }}">{{ marker.likes_count }}</span>
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-link bi bi-heart-fill p-1" data-id="{{ marker.pk }}"
                                    value="{{ marker.pk }}"></button>
                        {% else %}
                            <i class="link-primary bi bi-heart p-1"></i>
                        {% endif %}
                    </div>
                    <!-- likes END -->
                    {% translate "Anonymous user" as transl_anon_user %}
                    <h4 class="card-title font-weight-bold">{{ marker.owner.get_full_name|default:transl_anon_user }}</h4>
                    <div class="d-flex" style="font-size: small;">
                        <div class="flex-fill text-end me-2">
                            {% translate "Category" %}:
                            <span class="p-1 rounded" style="background-color: {{ marker.category.color }}; color: white;">
                                {{ marker.category.name }}
                            </span>
                        </div>
                        <div class="flex-fill text-start ms-2">
                            {{ marker.created_at|to_user_tz_short }}
                        </div>
                    </div>
                    <div class="d-flex mt-2" style="font-size: small;">
                        <div class="flex-fill text-end me-2">
                            {% translate "Open on Google map" %}:
                            <a href="https://www.google.com/maps/@{{ marker.latitude|unlocalize }},{{ marker.longitude|unlocalize }},12z" target="_blank" rel="nofollow">
                                {{ marker.latitude|unlocalize }},{{ marker.longitude|unlocalize }}</a>
                        </div>
                        <div class="flex-fill text-start ms-2">
                            <a href="https://maps.google.com?saddr=Current+Location&daddr={{ marker.latitude|unlocalize }},{{ marker.longitude|unlocalize }}" target="_blank" rel="nofollow">
                                {% translate "Get directions" %}</a>
                        </div>
                    </div>
                    <hr>
                    {% translate "No data" as transl_no_data %}
                    <p><i class="bi bi-quote"></i>{{ marker.comment|default:transl_no_data }}</p>
                    <hr>
                    <!-- comments -->
                    <h3 class="h5 mb-4 text-start">{% translate "Comments" %}
                        (<span id="comments-count-{{ marker.pk }}">{{ marker.comments.count }}</span>)</h3>
                    {% for item in marker.comments.all %}
                        <div id="div-comment-{{ item.pk }}" class="d-flex flex-row comment-row text-start">
                            <div class="p-2">
                                <a href="{% url "public-profile" item.owner.pk %}">
                                    <img class="rounded-circle" src="{{ item.owner.avatar_m.url }}" alt="user" height="50" width="50">
                                </a>
                            </div>
                            <div class="w-100">
                                <h5 class="fs-6">{{ item.owner.get_full_name }}</h5>
                                <div>
                                    <span class="text-muted" style="font-size: small">{{ item.created_at|to_user_tz_short }}</span>
                                    {% if item.owner.pk == request.user.id %}
                                        <button class="btn btn-link btn-sm text-muted delete-comment-btn" data-id="{{ item.pk }}"
                                                value="{{ item.pk }}" type="button"><i class="bi bi-trash-fill"></i></button>
                                    {% endif %}
                                </div>
                                <div class="m-b-5 m-t-10" style="font-size: smaller">{{ item.comment_text }}</div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- comments END -->
                    <!-- comment form -->
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            {% if request.user.is_authenticated %}
                                <img class="rounded-circle me-2" src="{{ request.user.avatar_s.url }}" height="32" width="32" alt="user">
                            {% else %}
                                <img class="rounded-circle me-2" src="{{ MEDIA_URL }}avatar/default_avatar.jpg" height="32" width="32" alt="user">
                            {% endif %}
                            <textarea class="form-control" rows="2" name="comment-text" id="comment-text-{{ marker.pk }}" placeholder="{% translate "Comment" %}"></textarea>
                        </div>
                        <div class="mt-2 text-end">
                            <span class="pt-3 me-2" style="font-size: small;" id="message_{{ marker.pk }}"></span>
                            <button class="btn btn-primary btn-sm add-comment-btn" data-id="{{ marker.pk }}"
                                    value="{{ marker.pk }}" type="button">{% translate "Post comment" %}</button>
                        </div>
                    </div>
                    <!-- comment form END -->
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        {#Add like#}
        $(document).ready(function () {
            $(document).on('click', '.bi-heart-fill', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "like" %}',
                    data: {
                        marker_id: id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("like_count_" + id).innerHTML = json['result']
                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            })
            {#Add comment#}
            $(document).on('click', '.add-comment-btn', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                function eraseText() {
                    document.getElementById("comment-text-" + id).value = "";
                }
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_comment" %}',
                    data: {
                        marker_id: id,
                        comment_text: $("#comment-text-" + id).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("message_" + id).innerHTML = json['message']
                        document.getElementById("comments-count-" + id).innerHTML = json['result']
                        eraseText()
                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            })
            {#Delete comment#}
            $(document).on('click', '.delete-comment-btn', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_comment" %}',
                    data: {
                        comment_id: id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        var div_el = document.getElementById("div-comment-" + id);
                        div_el.innerHTML = '';
                        var p = document.createElement("p").innerHTML = json['message']
                        div_el.append(p)
                        var cmnts_cnt = document.getElementById("comments-count-" + {{ marker.pk }});
                        cmnts_cnt.innerHTML = Number(cmnts_cnt.innerHTML) - 1;
                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            })

        })
    </script>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.2/dist/index.bundle.min.js"></script>
{% endblock %}