{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% load custom_filters %}
{% load static %}
{% block title %}
    <title>{% translate "My marks" %}</title>

    <link href="{% static "css/markers.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container pt-3 mt-4 mb-4">
        <h1 class="h2 mb-3">{% translate "My marks" %}</h1>
        <form method="post">
        <div class="row">
            {% csrf_token %}
{#            {% cache 3600 markers_list request.user.pk request.LANGUAGE_CODE page_obj.number %}#}
               {% for marker in page_obj.object_list %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="category card mb-4">
                        <div class="card-body marker">
                          <div class="d-flex justify-content-between">
                            <h6 class="card-title color mb-4" style="background: {{ marker.category.color }};">
                                {{ marker.category.name }}
                            </h6>
                            <h6 class="card-title mb-4">
                                #{{ marker.pk }}
                            </h6>
                        </div>
                            <p class="card-text">
                                {% if marker.comment %}
                                    {{ marker.comment|truncatechars_html:167 }}
                                {% else %}
                                    {% translate "Comment is empty" %}
                                {% endif %}
                            </p>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="time">
                                    <p>{{ marker.created_at|to_user_tz_short }}</p>
                                </div>
                                <div class="marker-controls">
                                    <a href="{% url "edit_marker" marker.pk %}" id="edit-{{ marker.pk }}" type="button" class="border-0 btn btn-outline-success">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button name="delete" id="delete" value="{{ marker.pk }}" type="submit" class="border-0 btn btn-outline-danger">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               {% empty %}
                   <p>{% translate "You have no any markers. Why not to add some?" %}</p>
                {% endfor %}
{#            {% endcache %}#}
            <div class="col-12 d-flex align-items-center justify-content-center">
                <nav>
                    {% if page_obj.has_other_pages %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                              <span class="page-link">&laquo;</span>
                          </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                          {% if page_obj.number == page %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ page }}</span>
                            </li>
                          {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
        </form>
    </div>
{% endblock %}