{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% load static %}
{% block title %}
    <title>{% translate "Mark #" %} {{ marker.pk }}</title>

    <link href="{% static "css/markers.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <section class="mx-auto my-5 col-md-6">
            <div class="card testimonial-card mt-2 mb-3">
                <div class="card-up aqua-gradient"></div>
                <div class="avatar mx-auto white">
                    <img src="{{ MEDIA_URL }}{{ marker.owner.avatar }}" class="rounded-circle img-fluid" alt="image">
                </div>
                <div class="card-body text-center position-relative">
                    <!-- likes -->
                    <div class="position-absolute" style="right: 16px; top: -50px;">
                        {% csrf_token %}
                        <span id="like_count_{{ marker.pk }}">{{ marker.likes_count }}</span>
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-link bi bi-heart-fill p-1" data-id="{{ marker.pk }}"
                                    value="{{ marker.pk }}"></button>
                        {% else %}
                            <i class="link-primary bi bi-heart-fill p-1"></i>
                        {% endif %}
                    </div>
                    <!-- likes END -->
                    <h4 class="card-title font-weight-bold">{{ marker.owner.get_full_name }}</h4>
                    <div class="d-flex" style="font-size: small;">
                        <div class="flex-fill text-end me-2">
                            {% translate "Category" %}: {{ marker.category.name }}
                        </div>
                        <div class="flex-fill text-start ms-2">
                            {{ marker.created_at|to_user_tz_short }}
                        </div>
                    </div>
                    {% if marker.comment %}
                        <hr>
                        <p><i class="bi bi-quote"></i>{{ marker.comment }}</p>
                    {% endif %}
                    <hr>
                    <!-- comments -->
                    <h3 class="h5 mb-4 text-start">{% translate "Comments" %}</h3>
                    {% for item in marker.comments.all %}
                        <div class="d-flex flex-row comment-row text-start">
                            <div class="p-2"><img class="rounded-circle" src="{{ MEDIA_URL }}{{ item.owner.avatar }}" alt="user" width="50"></div>
                            <div class="w-100">
                                <h5 class="fs-6">{{ item.owner.get_full_name }}</h5>
                                <div>
                                    <span class="text-muted" style="font-size: small">{{ item.created_at|to_user_tz_short }}</span>
                                </div>
                                <div class="m-b-5 m-t-10" style="font-size: smaller">{{ item.comment_text }}</div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- comments END -->
                    <!-- comment form -->
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            <img class="rounded-circle me-2" src="{{ MEDIA_URL }}{{ request.user.avatar }}" width="40" alt="user">
                            <textarea class="form-control" rows="2" name="comment-text" id="comment-text-{{ marker.pk }}" placeholder="{% translate "Comment" %}"></textarea>
                        </div>
                        <div class="mt-2 text-end">
                            <span class="pt-3 me-2" style="font-size: small;" id="message_{{ marker.pk }}"></span>
                            <button class="btn btn-primary btn-sm add-comment-btn" data-id="{{ marker.pk }}"
                                    value="{{ marker.pk }}" type="button">{% translate "Post comment" %}</button>
                        </div>
                    </div>
                    <!-- comment form END -->
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.bi-heart-fill', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "like" %}',
                    data: {
                        marker_id: id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("like_count_" + id).innerHTML = json['result']
                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            })

            $(document).on('click', '.add-comment-btn', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                function eraseText() {
                    document.getElementById("comment-text-" + id).value = "";
                }
                $.ajax({
                    type: 'POST',
                    url: '{% url "add_comment" %}',
                    data: {
                        marker_id: id,
                        comment_text: $("#comment-text-" + id).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("message_" + id).innerHTML = json['message']
                        document.getElementById("comments_count_" + id).innerHTML = json['result']
                        eraseText()
                    },
                    error: function (xhr, errmsg, err) {
                    }
                });
            })
        })
    </script>
{% endblock %}