{% load i18n %}
{% load static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>UAHub</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

{% include "inc/_header.html" %}
<!-- Modal window add marker -->
<div class="modal fade" id="addMarker" tabindex="-1" aria-labelledby="addMarkerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMarkerLabel">{% translate "Добавить маркер" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label={% translate "Закрыть" %}></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post" action="{% url 'home' %}" enctype="multipart/form-data" id="addMarkerForm"
                      name="addMarkerForm">
                    {% csrf_token %}
                    {% for field in form.visible_fields|slice:":2" %}
                        <div class="col-md-6">
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% for field in form.visible_fields|slice:"2:" %}
                        <div class="col-12">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="hidden" id="owner" name="owner"
                           value="{% if request.user %}{{ request.user.id }}{% endif %}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">{% translate "Закрыть" %}</button>
                        <button type="submit" class="btn btn-primary">{% translate "Добавить" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ form.media }}
<!-- Modal window add marker END -->
<!-- alert messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<!-- alert messages END -->

{% block body %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>