@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.category {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.category .marker h6 {
    padding: 6px 20px;
    font-weight: 700;
    border-radius: 26px;
    display: inline-block;
}

.category .marker .color {
    color: #ffffff;
}

.category .marker .time p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
