{% load i18n %}
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" aria-label="Navbar">
    <div class="container">
        <a href="{% url "home" %}" class="me-3">
            <img style="height: 32px;" src="{{ MEDIA_URL }}logo.png" alt="UAHub">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample03" style="">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "home" %}">{% translate "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "about" %}">{% translate "About" %}</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-sm-0">
                <!-- Language selector -->
                <li class="nav-item dropdown my-auto">
                    <form name="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <input name="language" type="hidden"/>
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_language_info for LANGUAGE_CODE as lang %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {{ lang.name_local }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% for language in languages %}
                                <li><a class="dropdown-item" href="#"
                                       onclick="document.lang.language.value='{{ language.code }}'; document.lang.submit();">
                                    {{ language.name_local }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </form>
                </li>
                <!-- Language selector END -->
                <!-- Avatar -->
                <li class="nav-item dropdown my-auto">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="nav-link link-light text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ MEDIA_URL }}{{ request.user.avatar }}" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url "profile" %}">{% translate "My profile" %}</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url "markers" %}">{% translate "My marks" %}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url "logout" %}">{% translate "Log out" %}</a></li>
                        </ul>
                    {% else %}
                        <a href="#" class="nav-link link-light text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ MEDIA_URL }}avatar/default_avatar.jpg" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url "login" %}">{% translate "Sign in" %}</a></li>
                            <li><a class="dropdown-item" href="{% url "register" %}">{% translate "Sign up" %}</a></li>
                        </ul>
                    {% endif %}
                </li>
                {% if request.path == "/" %}
                    <button type="button" class="btn btn-light my-auto ms-2" data-bs-toggle="modal"
                            data-bs-target="#addMarker">{% translate "Add mark" %}</button>
                {% endif %}
            </ul>
        <!-- Avatar END -->
      </div>
    </div>
  </nav>
<!-- Navbar END -->