{% extends 'base.html' %}
{% load i18n %}

{% block body %}

    <!-- Modal windows add marker -->
    <div class="modal fade" id="addMarker" tabindex="-1" aria-labelledby="addMarkerLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMarkerLabel">{% translate "Добавить маркер" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label={% translate "Закрыть" %}></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" method="post" id="addMarkerForm" name="addMarkerForm">
                {% csrf_token %}
                {% for field in form.visible_fields|slice:":2" %}
                     <div class="col-md-6">
                       <label for="{{ field.label }}" class="form-label">{{ field.label }}</label>
                       {{ field }}
                     </div>
                {% endfor %}
                {% for field in form.visible_fields|slice:"2:" %}
                     <div class="col-12">
                         <label for="{{ field.label }}" class="form-label">{{ field.label }}</label>
                         {{ field }}
                     </div>
                {% endfor %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Закрыть" %}</button>
            <button type="button" class="btn btn-primary">{% translate "Добавить" %}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal window add marker END -->

    <!-- Map -->
    {{ maps | safe }}
    <!-- Map END-->

{% endblock %}